Node_red flow Edge Box ATV320 control over Mobile phone.txt
[{"id":"287e8de1.b76a32","type":"modbus-read","z":"424dce8c.2c6d7","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8604","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"eb14f8b5.e73938","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":193.5,"y":78,"wires":[["f1b19fd5.a433c","c6ed5f9b.f62f9"],[]]},{"id":"f1b19fd5.a433c","type":"modbus-response","z":"424dce8c.2c6d7","name":"","registerShowMax":20,"x":430,"y":60,"wires":[]},{"id":"e930b062.166c6","type":"comment","z":"424dce8c.2c6d7","name":"OUTPUT VELOCITY","info":"","x":190.5,"y":39,"wires":[]},{"id":"33ad3a57.2485f6","type":"modbus-read","z":"424dce8c.2c6d7","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"5242","quantity":"1","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"eb14f8b5.e73938","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":310,"y":220,"wires":[["f9080a47.32d258"],[]]},{"id":"f9080a47.32d258","type":"modbus-response","z":"424dce8c.2c6d7","name":"","registerShowMax":20,"x":670,"y":220,"wires":[]},{"id":"364d7ffa.9a078","type":"comment","z":"424dce8c.2c6d7","name":"ANALOG INPUT 1","info":"","x":110,"y":200,"wires":[]},{"id":"df7c3e20.92dc2","type":"modbus-write","z":"424dce8c.2c6d7","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8602","quantity":"1","server":"eb14f8b5.e73938","x":547.5,"y":345,"wires":[["148433b6.03fdfc"],[]]},{"id":"365ea9bf.a8dae6","type":"comment","z":"424dce8c.2c6d7","name":"SPEED REFERENCE","info":"","x":120,"y":280,"wires":[]},{"id":"c656465f.22f468","type":"inject","z":"424dce8c.2c6d7","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100.5,"y":323,"wires":[["df7c3e20.92dc2"]]},{"id":"85e53f1.a529ec","type":"inject","z":"424dce8c.2c6d7","name":"RPM","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":87.5,"y":361,"wires":[["df7c3e20.92dc2"]]},{"id":"148433b6.03fdfc","type":"modbus-response","z":"424dce8c.2c6d7","name":"","registerShowMax":20,"x":778.5,"y":303,"wires":[]},{"id":"1923e60c.d9ec5a","type":"modbus-write","z":"424dce8c.2c6d7","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"8501","quantity":"1","server":"eb14f8b5.e73938","x":540,"y":520,"wires":[["274a7a25.162b16"],[]]},{"id":"2c773c44.756714","type":"comment","z":"424dce8c.2c6d7","name":"CONTROL WORD","info":"","x":130,"y":460,"wires":[]},{"id":"274a7a25.162b16","type":"modbus-response","z":"424dce8c.2c6d7","name":"","registerShowMax":20,"x":790,"y":500,"wires":[]},{"id":"be0c656a.a440c8","type":"inject","z":"424dce8c.2c6d7","name":"START BIT 3 0x1011=11","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"11","payloadType":"num","x":170,"y":500,"wires":[["1923e60c.d9ec5a"]]},{"id":"5bed7385.fa530c","type":"inject","z":"424dce8c.2c6d7","name":"STOP BIT 3 0x111=7","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":180,"y":540,"wires":[["1923e60c.d9ec5a"]]},{"id":"98370efc.149ed","type":"mqtt in","z":"424dce8c.2c6d7","name":"","topic":"/Nave1/tanque1/PLCM241/consigna1","qos":"2","datatype":"auto","broker":"3305ed35.861942","x":218,"y":404,"wires":[["df7c3e20.92dc2"]]},{"id":"9304daa2.2a8748","type":"mqtt out","z":"424dce8c.2c6d7","name":"","topic":"/Nave1/tanque1/temperatura","qos":"","retain":"","broker":"3305ed35.861942","x":640,"y":100,"wires":[]},{"id":"c6ed5f9b.f62f9","type":"function","z":"424dce8c.2c6d7","name":"parse","func":"var rpm = msg.payload[0]\nmsg.payload = rpm\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["9304daa2.2a8748","8a03f3c0.4ab49"]]},{"id":"8a03f3c0.4ab49","type":"debug","z":"424dce8c.2c6d7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":160,"wires":[]},{"id":"eb14f8b5.e73938","type":"modbus-client","z":"424dce8c.2c6d7","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"COM1","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"3305ed35.861942","type":"mqtt-broker","z":"424dce8c.2c6d7","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]